<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <title>Directory</title>
</head>

<body>
  <div class="wrapper">
    <h1>Robot Directory</h1>
    <h3><a href="./input">Add New Robot</a></h3>
    <div class="directory">
      <!-- <div class="dirInfo">
        <img src="http://via.placeholder.com/350x150" alt="">
        <div class="info">
          <h2>Name</h2>
          <p>Job Info</p>
        </div>
      </div> -->
      {{#robots}}
      <a href="/info/{{id}}">
      <div class="dirInfo">
        <img src="{{avatar}}" alt="Directory Avatar">
        <div class="info">
          <h2>{{name}}</h2>
          <p>{{#job}}{{job}}, {{company}}{{/job}}</p>
          <p class="avail">{{^job}}Available For Hire{{/job}}</p>
        </div>
      </div>
      </a>
      {{/robots}}
    </div>
  </div>
</body>

</html>
