<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Robot</title>
  </head>
  <body>
    <div class="input-wrapper">
      <form class="" action="/addId" method="post">
        <p>Add Robot</p>
       <input type="text" name="username" autofocus="on" value="" placeholder="Add Username">
       <input type="text" name="name" value="" placeholder="Add Name">
       <input type="text" name="avatar" value="" placeholder="Add ImageUrl">
       <input type="email" name="email" value="" placeholder="Add Email">
       <input type="text" name="university" value="" placeholder="Add University">
       <input type="text" name="job" value="" placeholder="Add Job">
       <input type="text" name="company" value="" placeholder="Add Company">
       <input type="phone" name="phone" value="" placeholder="Add Phone">
       <input type="text" name="street_number" value="" placeholder="Add Street Number">
       <input type="text" name="street_name" value="" placeholder="Add Street Name">
       <input type="text" name="city" value="" placeholder="Add City">
       <input type="text" name="state" value="" placeholder="Add State">
       <input type="text" name="postal_code" value="" placeholder="Add Zip Code">
       <input type="text" name="country" value="" placeholder="Add Country">
       <button type="submit" name="button">Submit Robot</button>
      </form>
    </div>
  </body>
</html>
